{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list host_plugins %}
{% block object-tools-items %}
  {% if has_add_permission %}
  <li>
    {% hosttypes_list as all_hosttypes %}
    {% for hosttype in all_hosttypes %}
    <!-- <div>hello from {{hosttype}}</div> -->
    <a href="{% add_preserved_filters hosttype|hosttype_url is_popup to_field %}" class="addlink">
      {% blocktrans with cl.opts.verbose_name as name %}Add {{hosttype}}{% endblocktrans %}
    </a>
    {% endfor %}
  </li>
  {% endif %}
{% endblock %}
