{% extends "admin/change_list.html" %}
{% load i18n admin_urls static entries_filters admin_list %}
{% block object-tools-items %}
	{% if has_add_permission %}
		<li>
			{% url cl.opts|admin_urlname:'add' as add_url %}
			<a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
				{% if opts.model_name|model_is_entry %}
				    {% blocktrans with cl.opts.verbose_name as name %}Add entry{% endblocktrans %}
                {% else %}
                	{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
				{% endif %}
			</a>
		</li>
	{% endif %}
{% endblock %}