#header {
    background: #e47a1f;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: white;
}

.module h2, .module caption, .inline-group h2 {
    background: #e47a1f;
}

a:link, a:visited {
    color: #b96319;
}

a:focus, a:hover {
    color: #e47a1f;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

div.breadcrumbs {
    background: #9a5315;
}

.object-tools a:focus, .object-tools a:hover {
    background-color: #9a5315;
}

#changelist-filter li.selected a {
    color: #e47a1f !important;
}

#changelist-filter li a:hover,
#changelist-filter li a:focus,
#changelist-filter li.selected a:hover,
#changelist-filter li.selected a:focus {
    color: #9a5315 !important;
}

.app-hosts .object-tools a:link, .object-tools a:visited {
    margin-left: 5px;
}